---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
export const prerender = true;

const meta = {
	description: "米斯卡莫斯卡",
	// 修改：关于
	title: "关于",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">关于</h1>

	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			是我，你爹！
		</p>
	</div>
	<div>
		<SocialList />
	</div>
</PageLayout>
